@model IEnumerable<PPCProject.Model.PROPERTY>

@{
    ViewBag.Title = "Index Agency";
    Layout = "~/Views/Shared/_LayoutAgency.cshtml";
}

<h2 style="text-align: center">My Properties</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Advanced Table
            </header>

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Property Name</th>
                        <th>Avatar</th>
                        <th>Property Type</th>
                        <th>Price</th>
                        <th>Unit Price</th>
                        <th>District</th>
                        <th>Area</th>
                        <th>Status</th>
                        <th>Created_at</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="odd gradeX">
                            <td>@item.PropertyName</td>
                            <td><img src="@Url.Content("~/Images/"+item.Avatar)" width="100px"></td>
                            @*<td><img src="/Images/@item.Avatar"  width="100px"></td>*@
                            <td>@item.PROPERTY_TYPE.CodeType</td>
                            <td>@item.Price</td>
                            <td>@item.UnitPrice</td>
                            <td>@item.DISTRICT.DistrictName</td>
                            <td>@item.Area</td>
                            <td>@item.PROJECT_STATUS.Status_Name</td>
                            <td>@item.Created_at</td>
                            @*<td>@item.Create_post</td>*@
                            @*<td>@item.Created_at</td>
                             <td>@item.Create_post</td>*@
                             @*<td>@item.Updated_at</td>*@

                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i></a>
                                    <a class="btn btn-success" href="#"><i class="icon_check_alt2"></i></a>
                                    <a class="btn btn-danger" href="#"><i class="icon_close_alt2"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </div>
</div>
