@model PPCProject.Model.USER

@{
    ViewBag.Title = "ChangePassword";
}


<div class="container body-content">
    <h2>ChangePassword</h2>

    <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="control-label col-md-1">
                    @Html.ValueFor(model => model.Email)
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Current Password</label>
                <div class="col-md-10">
                    <input type="password" class="form-control text-box single-line" name="currentpassword" />
                    @Html.ValidationMessage("passworderror")
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">New Password</label>
                <div class="col-md-10">
                    <input type="password" class="form-control text-box single-line" name="newpassword" required />

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Confirm Password</label>
                <div class="col-md-10">
                    <input type="password" class="form-control text-box single-line" name="confirmnewpassword" />
                    @Html.ValidationMessage("confirmerror")
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" style="width:100px" />
                </div>
            </div>
        </div>
    

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
