@using PPCProject.Model;
@model IEnumerable<PPCProject.Model.PROPERTY>
@{
    ViewBag.Title = "";
    var model = new Team35Entities();
    //var lstProper = model.PROPERTies.ToList();
    //int max = 5;
    //int page = (int)ViewBag.Page;
    //lstProper = lstProper.Skip((page - 1) * max).Take(max).ToList();
}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">    
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="img-rounded img-responsive" src="~/Images/IMG_1592-stamp.jpg" width="100%" />
        </div>
        <div class="item">
            <img class="img-rounded img-responsive" src="~/Images/PIS3280-Edit-stamp.jpg" width="100%" />
        </div>
        <div class="item">
            <img class="img-rounded img-responsive" src="~/Images/PIS_6656-Edit-stamp.jpg" width="100%" />
        </div>
        <div class="item">
            <img class="img-rounded img-responsive" src="~/Images/PIS_7389-Edit-stamp.jpg" width="100%" />
        </div>
        <div class="item">
            <img class="img-rounded img-responsive" src="~/Images/PIS_7432-Edit-stamp.jpg" width="100%" />
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- FilterForm-->
<div class=" wow bounceInRight ">
    <p class ="filterbox">SEARCH</p>

    <div class="filter-form">
            <form id="advanced_search" role="search" action="@Url.Action("Search","Home")" name="search" method="get">
                @*<div class="col-xs-2 ">
                        <label>Country</label>
                        <select class="show-menu-arrow selectpicker shape">
                            <option value="vietnam">VietNam</option>
                        </select>
                    </div>*@
                <div class="col-xs-2">
                    <label>Type</label>
                    <div class="show-menu-arrow selectpicker">
                        @Html.DropDownList("bien1", (IEnumerable<SelectListItem>)ViewData["LoaiDA"],"All Type", new { @class = "shape" })
                    </div>
                </div>

                <div class="col-xs-2">
                    <label>District</label>
                    @Html.DropDownList("District_ID", new SelectList(model.DISTRICTs, "ID", "DistrictName"), "Select District", new { @class = "form-control shape" })
                </div>

                @*<div class="col-xs-2">
                    <label>Ward</label>
                    @Html.DropDownList("Ward_ID", new SelectList(model.WARDs.Take(0), "ID", "WardName"), "Select Ward", new { @class = "form-control shape" })
                </div>*@

                <div class="col-xs-2">
                    <label>Street</label>
                    @Html.DropDownList("Street_ID", new SelectList(model.STREETs.Take(0), "ID", "StreetName"), "Select Street", new { @class = "form-control shape" })
                </div>
               
                <div class="col-xs-2 ">
                    <label>Bedrooms</label>
                    <select class="show-menu-arrow selectpicker shape" name="bed">
                        <option value="0">Select Bedrooms</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
                <div class="col-xs-2 ">
                    <label>Baths</label>
                    <select class="show-menu-arrow selectpicker shape" name="bath">
                        <option value="0">Select Baths</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
               
                <div class="col-xs-2">
                    <label>Key Word</label>
                    <input type="text" class="form-control shape-text" style="width: 200px" placeholder="Type Keyword" name="text" />
                </div>
                <div class="col-xs-6">
                    <button type="submit" class="btn btn-info shape-button" style="margin-left: 450px;">SEARCH PROPERTY</button>
                </div>
            </form>
    </div>
</div>
<!-- end filter form-->
<!-- PropertyContent-->
 <div class="container body-content">
    <h2 class="heading">LATEST LISTING</h2>
    <hr />

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 margin-style wow fadeInUp">
                <div class="thumbnail">
                    <img src="/Images/@item.Avatar" alt="@item.PropertyName" style="width: 350px; height: 232px">
                    <div class="caption">
                        <h3>@item.PropertyName</h3>
                        <p style="color: red"><img src="~/Images/icon_money.png"/> @item.Price @item.UnitPrice</p>
                        <p><img src="~/Images/iconPlace.png" />@item.STREET.StreetName, @item.WARD.WardName,@item.DISTRICT.DistrictName</p>
                        <p>@item.PROPERTY_TYPE.Description</p>
                        @{
                            if (item.Content != null && item.Content.Length >= 100)
                            {
                                <span>@item.Content.Substring(0, 100)...</span>
                            }
                            else
                            {
                                <span>@item.Content</span>
                            }
                        }
                        <p>
                            <span><img src="~/Images/icon_bed.png" /> (@item.BedRoom)</span>
                            <span><img src="~/Images/icon_bath.png" />(@item.BathRoom)</span>
                            <span><img src="~/Images/icon_area.png" />(@item.Area) </span>
                        </p>
                        <p><a href="/Detail/Detail/@item.ID" class="btn btn-primary"   role="button" style="margin-left: 80%">Detail</a></p>
                       
                    </div>
                </div>
            </div>
        }
    </div>
     <!-- Pagination-->
     @*@if (page == 1)
     {
         <div style=" margin-left: 400px;">
             <ul class="pagination">
                 <li class="disabled"><a href="#">Previous</a></li>
                 <li class="active"><a href="@Url.Action("Index", new { page = page })">1</a></li>
                 <li class="waves-effect"><a href="@Url.Action("Index", new { page = page + 1 })">2</a></li>
                 <li class="waves-effect"><a href="@Url.Action("Index", new { page = page + 2 })">3</a></li>
                 <li class="waves-effect"><a href="@Url.Action("Index", new { page = page + 3 })">4</a></li>
                 <li class="waves-effect"><a href="@Url.Action("Index", new { page = page + 4 })">5</a></li>
                 <li class="waves-effect"><a href="@Url.Action("Index", new { page = page + 1 })">Next</a></li>
             </ul>
         </div>
     }
     @if (page == 2)
{
    <div style=" margin-left: 400px;">
        <ul class="pagination">
            <li class="waves-effect"><a href="@Url.Action("Index", new { page = page - 1 })">Previous</a></li>
            <li class="waves-effect"><a href="@Url.Action("Index", new { page = page -1 })">1</a></li>
            <li class="active"><a href="@Url.Action("Index", new { page = page })">2</a></li>
            <li class="waves-effect"><a href="@Url.Action("Index", new { page = page + 1 })">3</a></li>
            <li class="waves-effect"><a href="@Url.Action("Index", new { page = page + 2 })">4</a></li>
            <li class="waves-effect"><a href="@Url.Action("Index", new { page = page + 3 })">5</a></li>
            <li class="waves-effect"><a href="@Url.Action("Index", new { page = page + 1 })">Next</a></li>
        </ul>
    </div>
}
     @if (page == 3)
{
    <div style=" margin-left: 400px;">
        <ul class="pagination">
            <li class="waves-effect"><a href="@Url.Action("Index", new { page = page - 1 })">Previous</a></li>
            <li class="waves-effect"><a href="@Url.Action("Index", new { page = page - 2   })">1</a></li>
            <li class="waves-effect"><a href="@Url.Action("Index", new { page = page - 1 })">2</a></li>
            <li class="active"><a href="@Url.Action("Index", new { page = page })">3</a></li>
            <li class="waves-effect"><a href="@Url.Action("Index", new { page = page + 1 })">4</a></li>
            <li class="waves-effect"><a href="@Url.Action("Index", new { page = page + 2 })">5</a></li>
            <li class="waves-effect"><a href="@Url.Action("Index", new { page = page + 1 })">Next</a></li>
        </ul>
    </div>
}
     @if (page == 4)
{
    <div style=" margin-left:400px;">
        <ul class="pagination">
            <li class="waves-effect"><a href="@Url.Action("Index", new { page = page - 1 })">Previous</a></li>
            <li class="waves-effect"><a href="@Url.Action("Index", new { page = page - 3 })">1</a></li>
            <li class="waves-effect"><a href="@Url.Action("Index", new { page = page - 2 })">2</a></li>
            <li class="waves-effect"><a href="@Url.Action("Index", new { page = page - 1 })">3</a></li>
            <li class="active"><a href="@Url.Action("Index", new { page = page })">4</a></li>
            <li class="waves-effect"><a href="@Url.Action("Index", new { page = page + 1 })">5</a></li>
            <li class="waves-effect"><a href="@Url.Action("Index", new { page = page + 1 })">Next</a></li>
        </ul>
    </div>
}
     @if (page == 5)
{
    <div style=" margin-left: 400px;">
        <ul class="pagination">
            <li class="waves-effect"><a href="@Url.Action("Index", new { page = page - 1 })">Previous</a></li>
            <li class="waves-effect"><a href="@Url.Action("Index", new { page = page - 4 })">1</a></li>
            <li class="waves-effect"><a href="@Url.Action("Index", new { page = page - 3 })">2</a></li>
            <li class="waves-effect"><a href="@Url.Action("Index", new { page = page - 2 })">3</a></li>
            <li class="waves-effect"><a href="@Url.Action("Index", new { page = page - 1 })">4</a></li>
            <li class="active"><a href="@Url.Action("Index", new { page = page  })">5</a></li>
            <li class="disabled"><a href="#">Next</a></li>
        </ul>
    </div>
}*@
</div>

@section Scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")


    <script>
        $('#District_ID').select2();
        $('#Street_ID').select2();
        $('#District_ID').on('change', function () {
            $('#Street_ID').empty();
            $.getJSON('/Home/GetStreet?Distric_id=' + $('#District_ID').val(),
            function (json) {
                $('#Street_ID').select2({ data: json });
            });
        });

        $('#District_ID').select2();
        $('#Ward_ID').select2();
        $('#District_ID').on('change', function () {
            $('#Ward_ID').empty();
            $.getJSON('/Home/GetWard?Distric_id=' + $('#District_ID').val(),
            function (json) {
                $('#Ward_ID').select2({ data: json });
            });
        });
    </script>
}


